@import './variables';
@import './mixins';

@function calculate-padding($multiplier) {
    @return $multiplier * 10px;
  }
  
  
  @function adjust-brightness($color, $amount) {
    @return lighten($color, $amount);
  }
  
  %btn-base {
    display: inline-block;
    padding: $btn-padding;
    text-transform: uppercase;
    border: 1px solid transparent;
    cursor: pointer;
    @include transition();
  }
  
  %box-base {
    border-radius: 15px;
    padding: calculate-padding(2); 
    background-color: adjust-brightness($light-color, 10%); 
    @include box-shadow(0, 4px, 30px, rgba(0, 0, 0, 0.2));
  }
  
  %hero-area-base {
    height: $header-height;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 18%;
      min-width: 150px;
      height: 100%;
      background: linear-gradient(to right, $primary-color, $secondary-color);
    }
  }
  
  @font-face {
    font-family: $font-secondary;
    src: url(../fonts/AmericanTypewriterBQ-Bold.otf);
  }
  
  p {
    color: #272727;
  }
  
  body {
    font-family: $font-primary;
    color: $text-color;
    background-color: $light-color;
  }
  
  .layout_margin {
    margin: calculate-padding(9); 
  }
  
  .layout_padding {
    padding: calculate-padding(9); 
  }
  
  .layout_padding2 {
    padding: calculate-padding(4.5); 
  }
  
  .layout_padding2-top {
    padding-top: calculate-padding(4.5); 
  }
  
  .layout_padding2-bottom {
    padding-bottom: calculate-padding(4.5); 
  }
  
  .layout_padding-top {
    padding-top: calculate-padding(9); 
  }
  
  .layout_padding-bottom {
    padding-bottom: calculate-padding(9); 
  }
  
  .heading_container {
    @include flex-center;
  }
  
  .heading_container h2 {
    font-weight: bold;
    color: $heading-color;
    position: relative;
    text-transform: uppercase;
  }
  
  .heading_container hr {
    margin: 0 10px;
    border: none;
    flex: 1;
    max-width: 200px;
    height: 3px;
    background-color: $primary-color;
  }
  
  .hero_next_section-margin {
    margin-top: calculate-padding(10);
  }
  

  .hero_area {
    @extend %hero-area-base;
  }
  
  .sub_page .hero_area {
    height: auto;
  }
  
  .sub_page .hero_area::before {
    width: 160px;
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link img {
    width: 22px;
    margin-right: 15px;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 25px;
    color: #fefeff;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  
  .custom_menu-btn {
    z-index: 9;
    position: absolute;
    right: 5px;
    top: 14px;
  }
  
  .custom_menu-btn button {
    margin-top: 12px;
    outline: none;
    border: none;
    background-color: transparent;
  }
  
  .custom_menu-btn span {
    display: block;
    width: 40px;
    height: 4px;
    background-color: $dark-color;
    margin: 7px 0;
    @include transition;
  }
  
  .menu_btn-style button {
    position: fixed;
    right: 20px;
    top: 14px;
  }
  
  .menu_btn-style button .s-1 {
    transform: rotate(45deg) translateY(15.5px);
  }
  
  .menu_btn-style button .s-2 {
    transform: translateX(100px);
  }
  
  .menu_btn-style button .s-3 {
    transform: rotate(-45deg) translateY(-15.5px);
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(62, 103, 205, 0.9);
    overflow-x: hidden;
    @include transition(0.5s);
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 60px;
  }
  
  .overlay a {
    padding: 0;
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    display: block;
    @include transition;
    text-transform: uppercase;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .menu_width {
    width: 100%;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    box-shadow: none;
  }
  
  .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 18px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    margin: 0 40px 0 15px;
    background-position: center;
  }
  
  .navbar-brand {
    @include flex-center;
    font-family: $font-secondary;
    font-weight: 400;
  }
  
  .navbar-brand img {
    width: 30px;
    margin-right: 10px;
  }
  
  .navbar-brand span {
    text-transform: uppercase;
    font-size: 22px;
    color: #ffffff;
    margin-top: 5px;
  }
  
  .custom_nav-container {
    z-index: 99999;
    padding: 15px 0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 55px;
  }
  
  .quote_btn-container a {
    @extend %btn-base;
    background-color: #fc5d35;
    color: #f7f7f7;
    font-size: 14px;
  }
  
  // Slider section
  .slider_section {
    @include flex-center(column);
    height: calc(100% - 80px);
    padding: calculate-padding(4.5) calculate-padding(9); // Use function to calculate padding
  }
  
  .slider_section .side_heading {
    position: absolute;
    top: 45%;
    right: 25px;
    transform: translateY(-50%);
  }
  
  .slider_section .side_heading h5 {
    writing-mode: tb-rl;
    text-orientation: upright;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 20px;
  }
  
  .slider_section .carousel {
    position: unset;
  }
  
  .slider_section .col-md-5.offset-md-1 {
    position: unset;
  }
  
  .slider_section .detail-box {
    margin-top: calculate-padding(6.5); // Use function to calculate margin
    position: relative;
  }
  
  .slider_section .detail-box h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.5rem;
    font-family: $font-secondary;
  }
  
  .slider_section .detail-box .btn-box {
    margin-top: calculate-padding(3.5); // Use function to calculate margin
  }
  
  .slider_section .detail-box .btn-box a {
    @extend %btn-base;
    width: 180px;
  }
  
  .slider_section .detail-box .btn-box .btn-1 {
    @extend %btn-base;
    background-color: $primary-color;
    color: $light-color;
    border: 1px solid $primary-color;
  
    &:hover {
      background-color: transparent;
      color: $primary-color;
    }
  }
  
  .slider_section .detail-box .btn-box .btn-2 {
    @extend %btn-base;
    background-color: $dark-color;
    color: $light-color;
    border: 1px solid $dark-color;
  
    &:hover {
      background-color: transparent;
      color: $dark-color;
    }
  }
  
  .slider_section .detail-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/slider-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
  }
  
  // Dish section
  .dish_section {
    @include flex-center(column);
    position: relative;
  }
  
  .dish_section .box {
    @extend %box-base;
    flex: 1;
    padding: calculate-padding(4.5) calculate-padding(6.5); // Use function to calculate padding
  }
  
  .dish_section .box img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: calculate-padding(2); // Use function to calculate margin
  }
  
  .dish_section .box h4 {
    font-weight: bold;
    font-size: 24px;
  }
  
  .dish_section .box p {
    font-size: 14px;
    margin-bottom: calculate-padding(2); // Use function to calculate margin
  }
  
  .dish_section .box a {
    @extend %btn-base;
    background-color: $primary-color;
    color: $light-color;
    border: 1px solid $primary-color;
    &:hover {
      background-color: transparent;
      color: $primary-color;
    }
  }
  
  .dish_section .box:hover {
    transform: scale(1.05);
    @include box-shadow(0, 6px, 40px, rgba(0, 0, 0, 0.3));
  }