
$primary-color: #51b5ef;
$secondary-color: #436bf1;
$dark-color: #262626;
$light-color: #ffffff;
$text-color: #0c0c0c;
$heading-color: #1d1e31;
$highlight-color: #10e276;


$font-primary: 'Poppins', sans-serif;
$font-secondary: 'American Typewriter', sans-serif;


$header-height: 100vh;
$carousel-height: 550px;
$btn-padding: 10px 0;